* {
  font-family: "Monaco", "Gill Sans", sans-serif;
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.drawer-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 0.35);
  transition: background-color 0.2s cubic-bezier(.19,.54,.74,.53);
}

.drawer-overlay.visible {
  width: 100vw;
  height: 100vh;
  transition: background-color 0.2s cubic-bezier(.19,.54,.74,.53);
}

.drawer-toggle {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 2;
  background: #f2f2f2;
  font-size: 1.2rem;
  border: 1px solid #d8d8d8;
  padding: 0.5rem 1rem;
}

.drawer {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: min-content;
  max-width: 100%;
  grid-column-gap: 1rem;
  position: absolute;
  padding: 5rem 2rem 2rem;
  box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.5);
  width: 400px;
  background-color: #fff;
  top: 0;
  left: -500px;
  bottom: 0;
  transition: left .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
  z-index: 1;
}

.drawer.visible {
  left: 0;
  transition: left .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
}

.drawer .form-field:first-child {
  grid-column: span 2;
}

.header {
  display: flex;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.margin-top {
  margin-top: 2.0em;
}

.space-around {
  justify-content: space-around;
}

.form {
  width: 100%;
  padding-bottom: 2.5em;
}

.form h1 {
  margin-block: 0 1em;
  font-size: 2.2rem;
}

.form-container {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.form-container .form-field:last-child {
  grid-column: span 2;
}

.link {
  color: royalblue;
}

.carousel-container {
  position: relative;
  border: 1px solid #d8d8d8;
  min-height: 300px;
  margin-bottom: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: transform 0.3s cubic-bezier(.17,.67,.83,.67);
}

.carousel-slide:nth-of-type(1) {
  background: deepskyblue;
}

.carousel-slide:nth-of-type(2) {
  background: crimson;
}

.carousel-slide:nth-of-type(3) {
  background: lightgreen;
}

.carousel-toggle {
  position: absolute;
  justify-self: center;
  padding: 0;
  margin: 0;
  background: 0;
  cursor: pointer;
  font-size: 28px;
  border: none;
  color: #fff;
}

.carousel-toggle.left {
  left: 10px;
}

.carousel-toggle.right {
  right: 10px;
}

.debounce-fields {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
