.button {
  padding: 0 2.4em;
  width: 100%;
  height: 45px;
  font-size: 1.6rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  max-width: -webkit-fill-available;
}

.submit {
  background: cornflowerblue;
  color: #fff;
  border: 1px solid transparent;
}

.reset {
  background: #e9e9e9;
  color: #444444;
  border: 1px solid #444444;
}

button.link {
  padding: 0;
  margin: 0;
  background: transparent;
  width: fit-content;
}

.button.submit:hover:not(:disabled) {
  background: mediumslateblue;
}

.button.reset:hover {
  background: #d8d8d8;
  transition: background 0.2s ease-in-out;
}

button.link:hover {
  text-decoration: underline;
  background: transparent !important;
}

.button:disabled {
  background: #f2f2f2;
  color: #999;
  cursor: not-allowed;
}
